<configuration>

    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <resetJUL>true</resetJUL>
    </contextListener>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <timeZone>UTC</timeZone>
        </encoder>
    </appender>

    <logger name="no.ssb.dapla.metadata.distributor" level="trace" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>

    <logger name="io.helidon.webserver.AccessLog" level="info" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>

    <root level="info">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
